* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}
body{
    color: #314862;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(65deg,#ffffffff , #9e9999ff );

}

.container{
    display:grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
    margin-left: 40px;
    margin-top: 0.5rem;
}

#profile {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
#profile h2 {
    font-size: 1.4rem;
}

#profile p {
    font-size: 0.9rem;
}

#profile form {
    display: flex;
    flex-direction: column;
}

#profile form span {
    font-size: 0.9rem;
    color: #8a8a8a;
    margin-bottom: 4px;
}

#profile form input {
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    background-color:#fff;
}
#profile form .buttom {
    outline: none;
    border: none;
    background-color:#34617B;
    color: #fff;
    font-size: 15px;
    font-weight:600;
    padding:15px;
}

#profile form .buttom:hover {
    background-color:#304857;
}
 #profile a {
    color: #000;
    font-size: medium;
}
#profile a:hover{ 
   font-size: large;
   font-weight: 500;
}

img{
    width:575px; 
    margin-left:260px ;
    margin-top: 20px;
    border-radius:10px;
}
/* result page*/
.result-container{
    margin-left:28rem;
    margin-top: 14rem;
    padding: 10px;
    width:600px;
    height: 300px;
    background-color: #fff;
}

.result-container h2{
    text-align: center;
    color: #304857;
    margin-top:10px;
}
.result-container h3{
     color: #304857;
    margin-top:20px;
    margin-bottom: 30px;
}
.result-container .btn a{
  width:120px;
  padding:15px;
  background-color: #34617B;
  color:#fff;
}
.result-container .btn{
    margin-top: 95px;
    margin-left: 190px;
}